
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">


  <!-- Submit Tab -->
  <ion-tab title="Submit" icon="icon ion-camera" href="#/tab/submit-photo">
    <ion-nav-view name="submit-tab"></ion-nav-view>
  </ion-tab>


  <!-- Your Tab -->
  <ion-tab title="Your Mashups" icon="icon ion-image" href="#/tab/your">
    <ion-nav-view name="your-tab"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="About" icon="icon ion-ios7-help" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
