@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>MLB Gameday Mosaic</h1>
    <script src="http://zoom.it/YcnBL.js?width=auto&height=400px"></script>
    <iframe src="/Mosaic.html"></iframe>
    <!--
        <form action="/Home/Upload"
              enctype="multipart/form-data" method="post">
            <p>
                Please specify a file, or a set of files:<br>
                <input type="file" id="file" name="file" size="40">
                <input type="text" id="park" name="park" size="40" value="Fenway" />
                <input type="text" id="date" name="date" size="40" value="date" />
            </p>
            <div>
                <input type="submit" value="Send">
            </div>
        </form>
        -->
</div>
